{% extends "dalec/default/item.html" %}
{% load dalec i18n %}
{% block item_content %}
<acticle class="h-event">
    <header>
        {% block item_header %}
            <h1 class="p-name">{{ object.content_data.summary|default:"Sans titre" }} </h1>
            <div class="caldav-item-dates">
                {% with start_dt=object.content_data.dtstart|to_datetime end_dt=object.content_data.dtend|to_datetime %}
                    {% if object.content_data.duration.total_seconds != 86400 %}
                        <time class="dt-start" datetime="{% if object.content_data.start_time %}{{ start_dt|date:"c" }}{% else %}{{ object.content_data.start_date }}{% endif %}">
                            {% if object.content_data.start_time %}
                                {{ start_dt|date:"DATETIME_FORMAT" }}
                            {% else %}
                                {{ start_dt|date:"DATE_FORMAT" }}
                            {% endif %}
                        </time>
                        <time class="dt-end" datetime="{% if object.content_data.end_time %}{{ end_dt|date:"c" }}{% else %}{{ object.content_data.end_date }}{% endif %}">
                            {% if object.content_data.end_time %}
                                {{ end_dt|date:"DATETIME_FORMAT" }}
                            {% else %}
                                {{ end_dt|date:"DATE_FORMAT" }}
                            {% endif %}
                        </time>
                    {% else %}
                        <time class="dt-start" datetime="{{ object.content_data.start_date }}">
                            {% if object.content_data.start_time %}
                                {{ start_dt|date:"DATETIME_FORMAT" }}
                            {% else %}
                                {{ start_dt|date:"DATE_FORMAT" }}
                            {% endif %}
                        </time>
                    {% endif %}
                {% endwith %}
            </div>
            {% if object.content_data.location %}
                <address class="caldav-item-location p-location">{{ object.content_data.location }}</address>
            {% endif %}
        {% endblock %}
    </header>
    <main class="caldav-item-description p-summary">
        {% block item_main %}
            {{ object.content_data.description }}
        {% endblock %}
    </main>
    <footer>
        {% block item_footer %}
            {% if object.content_data.event_url %}
                <a class="caldav-item-ics" href="{{ object.content_data.event_url }}" target="_blank">{% trans "Add to my Calendar" %}</a>
            {% endif %}
        {% endblock %}
    </footer>
</article>
{% endblock %}
